<div class="container-fluid">
	<div class="row business-row">
		<div class="col-md-4 bis">
			<div class="dropdown">
			    <button class="btn btn-default dropdown-toggle bis-dr" type="button" data-toggle="dropdown">Corporations/Limited Liability Company
			    <span class="caret"></span></button>
			    <ul class="dropdown-menu" ">
			      <li><a href="#">Formation</a></li>
			      <li><a href="#">Articles</a></li>
			      <li class="active"><a href="#">Bylaws</a></li>
			      <li><a href="#">Minues</a></li>
			      <li><a href="#">Shareholder Purchase Agreements</a></li>
			      <li><a href="#">Shareholder Vesting Agreements</a></li>
			    </ul>
 		 	</div>
 		 	<div class="dropdown">
			    <button class="btn btn-default dropdown-toggle bis-dr" type="button" data-toggle="dropdown">Intellectual Property
			    <span class="caret"></span></button>
			    <ul class="dropdown-menu">
			      <li><a href="#">Licensing Agreements</a></li>
			      <li ><a href="#">Trademark Registration</a></li>
			      <li ><a href="#">Copyright Registration</a></li>
			      <li><a href="#">Intellectual Property Infrigment Monitoring</a></li>
			      <li><a href="#">Intellectual Property Assigment Agreements for Founder and Employee</a></li>
			      <li><a href="#">Copyright Infrigment</a></li>
			      <li><a href="#">Intellectual Property Audit</a></li>
			    </ul>
 		 	</div>
 		 	<div class="dropdown">
			    <button class="btn btn-default dropdown-toggle bis-dr" type="button" data-toggle="dropdown">Financing
			    <span class="caret"></span></button>
			    <ul class="dropdown-menu">
			      <li><a href="#">Promissory Notes</a></li>
			    </ul>
 		 	</div>
 		 	<div class="dropdown">
			    <button class="btn btn-default dropdown-toggle bis-dr" type="button" data-toggle="dropdown">Labor
			    <span class="caret"></span></button>
			    <ul class="dropdown-menu">
			      <li><a href="#">Service Agreements</a></li>
			      <li><a href="#">Independet Contractor Agreements</a></li>
			    </ul>
 		 	</div>
 		 	<div class="dropdown">
			    <button class="btn btn-default dropdown-toggle bis-dr" type="button" data-toggle="dropdown">Aplication and Website
			    <span class="caret"></span></button>
			    <ul class="dropdown-menu">
			      <li><a href="#">Terms of Use Aplication or Website</a></li>
			      <li><a href="#">Disclimer for Aplication or Website</a></li>
			      <li><a href="#">Terms of Service</a></li>
			    </ul>
 		 	</div>
 		 	<div class="dropdown">
			    <button class="btn btn-default bis-dr" type="button" ><a href="#">Terms of Use Aplication or Website</a>
 		 	</div>
 		 	<div class="dropdown">
			    <button class="btn btn-default bis-dr" type="button" ><a href="#">Non Disclosure Agreements</a>
 		 	</div>
 		 	<div class="dropdown">
			    <button class="btn btn-default bis-dr" type="button" ><a href="#">Privacy Stetmens</a>
 		 	</div>
 		 	<div class="dropdown">
			    <button class="btn btn-default dropdown-toggle bis-dr" type="button" data-toggle="dropdown">Litigation
			    <span class="caret"></span></button>
			    <ul class="dropdown-menu">
			      <li><a href="#">Defense</a></li>
			      <li><a href="#">Infrigment Prosecution and Defense</a></li>
			    </ul>
 		 	</div>
 		 	<div class="dropdown">
			    <button class="btn btn-default dropdown-toggle bis-dr" type="button" data-toggle="dropdown">Trial
			    <span class="caret"></span></button>
			    <ul class="dropdown-menu">
			      <li><a href="#">Jury Selection</a></li>
			      <li><a href="#">Training</a></li>
			      <li><a href="#">Co-Counsel</a></li>
			    </ul>
 		 	</div>
 		 	<div class="dropdown ">
			    <button class="btn btn-default bis-dr" type="button" ><a href="#">Appeals</a>
 		 	</div>
 		 	<div class="dropdown">
			    <button class="btn btn-default bis-dr" type="button" ><a href="#">Negotiations</a>
 		 	</div>
 		 	<div class="dropdown">
			    <button class="btn btn-default bis-dr" type="button" ><a href="#">Genereal Counsel Counsultation,Strategy and Advise</a>
 		 	</div>
		</div>
	</div>
</div>

<div class="container-fluid">
  <div class="row contact">
    <div class="col-md-6">
        <h3 style="color: #ffffff;text-align: center; padding-top: 35%;">Los Angeles Business Law, Corporate Law, and Business Startup Attorneys</h3>
    </div>
   <div class="col-md-6 contact-div">
      <p style="color: #ffffff;padding-top: 10%;padding-right: 13%;">Our business law attorneys are notable USC, UCLA, Berkeley Law alumni and focus on not merely providing businesses with sound legal advice. Our comprehensive business law practice includes both the transactional and the litigation aspects of business law. We advise and assist in the formation of entities such as corporation formation, partnerships, limited liability companies and limited liability partnerships. We also prepare and review business sale contracts, employment contracts, business contract disputes, and other business agreements. We are there for the life of the company, helping with business and tax filings and other compliance matters. Kaass Law offers alternative fee arrangements beyond just your average hourly rates, including fixed, capped, and hybrid fee arrangements.</p>
    </div>
  </div>
</div>