
<div class="container-fluid">
  <div class="row ">
    <div class="col-md-4">
      <p ><%= @contact.address %></p>
      <p ><%= @contact.phone %></p>
      <p ><%= @contact.email %></p>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: -25.344, lng: 131.036};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
       <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_GffeNFBU8-9g5okrW9x22K7qkgLGhgo&callback=initMap">
    </script>

    </div>
  </div>
</div>
