<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<%= form_for :about do |f| %>
				<%= f.text_area :title, class: "form-control" %>
				<p><%= f.submit class: "btn btn-lg btn-success" %></p>
			<% end %>

		</div>
	</div>
</div>	