<div class="container-fluid">
	<div class="row home-row2">
		<div class="col-md-4 mek1">
			<h1 style="color:#ffffff;">Experienced<br> Lawyers in<br> Glendale, Los Angeles, CA</h1>	 
		</div>
		<div class="col-md-5 mek">
			<p style="color:#ffffff;"><%= @about.title %></p>
		</div>
	</div>
</div>