// Place all the styles related to the Abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mek1{
	
	height :60%;
	width:50%;
	margin-left:7%;
}